body {
  background: #eeebe1;
  color: #6f5a44;
  font-family: "Playfair Display", serif;
  margin: 20px 15px;
  text-align: center;
}
.title {
  font-size: 78px;
  font-weight: 500;
  margin: 0;
}
h2 {
  margin-top: 0;
  font-size: 38px;
  font-weight: 100;
  font-style: italic;
}
.top-row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.left-block {
  text-align: left;
}

.time {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
}
.form {
  justify-content: flex-end;
  align-items: flex-end;
  transform: translateY(-175px) translateX(35px);
  max-width: 100%;
}
.center-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.search-bar {
  text-align: left;
  margin-top: 10px;
  width: 300px;
  padding: 10px 24px;
  border: solid 2px #6f5a44;
  border-radius: 4px;
  background-color: #ffffff;
}
.button {
  padding: 10px 24px;
  border: solid 2px #275057;
  background-color: #326871;
  color: #eeebe1;
  border-radius: 6px;
  transition: ease-in-out 250ms;
}
.button:hover {
  background-color: #45909d;
  cursor: pointer;
}
.city {
  font-size: 50px;
}

main {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  padding-top: 0;
}

.weather-icon {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.temprature {
  margin: 0px;
}
.degrees {
  font-size: 76px;
  line-height: 1;
  font-weight: 100;
}
.celcius {
  position: relative;
  top: -35px;
  font-size: 48px;
  font-weight: bold;
}
.grid-content {
  justify-content: center;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 30px;
  margin: 40px auto;
  padding: 0 20px;
  max-width: 500px;
}
.weather-forecast {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.wind-humid {
  color: #326871;
  font-weight: bold;
}
.weather-forecast-day {
  justify-content: space-between;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  transition: ease-in-out 250ms;
}
.weather-forecast-day:hover {
  background-color: #eeebe1;
  border: 0.5pt solid #45909d;
}
.forecast-content-block {
  width: auto;
  height: 150px;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(111, 90, 68, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
footer {
  padding: 30px 0 0 0;
  text-align: center;
}
a {
  color: #326871;
  text-decoration: none;
  font-weight: bold;
}
.content-block {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: rgb(111, 90, 68, 0.4);
}
