body {
  background: #eeebe1;
  color: #6f5a44;
  font-family: "Playfair Display", serif;
  margin: 15px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 78px;
  font-weight: 500;
  margin: 0;
}

h2 {
  margin-top: 0;
  font-size: 38px;
  font-weight: 100;
  font-style: italic;
}

.time-block {
  text-align: right;
  margin-bottom: 10px;
}

.time {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
}
.date {
  font-size: 20px;
}
.form {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.search-bar {
  text-align: left;
  width: 300px;
  padding: 10px 24px;
  border: solid 2px #6f5a44;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 5px;
}
.button {
  padding: 10px 24px;
  border: solid 2px #275057;
  background-color: #326871;
  color: #eeebe1;
  border-radius: 6px;
  transition: ease-in-out 250ms;
}
.button:hover {
  background-color: #45909d;
  cursor: pointer;
}
.city {
  font-size: 50px;
}

.weather-icon {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.temprature {
  margin-bottom: 20px;
}
.degrees {
  font-size: 76px;
  line-height: 1;
  font-weight: 100;
}
.celcius {
  position: relative;
  top: -35px;
  font-size: 48px;
  font-weight: bold;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
}
.weather-icon {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 100px;
  height: auto;
}
.wind-humid {
  color: #326871;
  font-weight: bold;
  font-size: 20px;
}
.weather-condition,
.weather-description {
  font-size: 24px;
}

.forecast-date {
  font-size: 20px;
}
.grid-content {
  display: grid;
  gap: 25px;
  margin: 0 auto;
  max-width: 1000px;
}
.weather-forecast-day {
  margin: 6px 0px;
  padding: 2px 6px;
  border-radius: 8px;
  font-weight: bold;
  transition: ease-in-out 250ms;
}
.weather-forecast-day:hover {
  background-color: #eeebe199;
  border: 0.5pt solid #6f5a44;
}
.content-blocks-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}
.forecast-temp {
  font-size: 18px;
}
.forecast-tems-low {
  font-weight: lighter;
}
.forecast-content-block {
  width: 100%;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(111, 90, 68, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
footer {
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}
a {
  color: #326871;
  text-decoration: none;
  font-weight: bold;
}
.content-block {
  overflow: hidden;
  max-width: 200px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: rgb(111, 90, 68, 0.4);
  aspect-ratio: 1 / 1;
  width: 100%;
}
