body {
  background: #326871;
  color: #6f5a44;
  font-family: "Playfair Display", serif;
}
.app-design {
  margin: 30px auto;
  max-width: 700px;
  padding: 45px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
  background-color: #eeebe1;
  font-family: "Playfair Display", serif;
}

.title {
  font-size: 56px;
  margin: 0;
}
h2 {
  margin-top: 0;
  font-size: 32px;
  font-weight: normal;
  font-style: italic;
}
.city {
  border-top: 1px solid #275057;
  font-size: 50px;
  margin-top: 0;
  line-height: 1.2;
  text-align: left;
}
header {
  margin-bottom: 0;
  padding-bottom: 0;
}
main {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  padding-top: 0;
}
footer {
  border-top: 1px solid #275057;
  padding: 30px 0 0 0;
  text-align: center;
}
.weather-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.weather-icon {
  position: relative;
  top: -190px;
  left: 475px;
  height: auto;
  margin-left: 20px;
}
.degrees {
  font-size: 56px;
  position: relative;
  top: -200px;
  margin: 0px;
  line-height: 1;
  font-weight: 100;
}
.celcius {
  position: relative;
  top: -225px;
  left: -5px;
  font-size: 32px;
  font-weight: bold;
}
.time {
  margin-top: -20px;
  font-size: 18px;
  display: flex;
  letter-spacing: 1px;
}
.search-bar {
  margin-top: 10px;
  padding: 5px 24px;
  border: solid 2px #6f5a44;
  border-radius: 4px;
  background-color: #ffffff;
}
.button {
  padding: 5px 20px;
  border: solid 2px #275057;
  background-color: #326871;
  color: #eeebe1;
  border-radius: 4px;
  transition: ease-in-out 250ms;
}
.button:hover {
  background-color: #45909d;
  cursor: pointer;
}

.weather-forecast {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 10px;
}

.wind-humid {
  color: #326871;
  font-weight: bold;
}
.day {
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  transition: ease-in-out 250ms;
}
.day:hover {
  background-color: rgba(111, 90, 68, 0.2);
}
a {
  color: #326871;
  text-decoration: none;
  font-weight: bold;
}
